In [2]:
import requests
import pandas as pd

In [3]:
base = 'eur'
url1 = f'https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/{base}.json'
url2 = f'https://api.frankfurter.app/latest?from={base}'

In [24]:
x = requests.get(url1)
df1 = pd.DataFrame(x.json())
print(x.status_code)

200

In [6]:
x = requests.get(url2)
print(x.status_code)
df2 = pd.DataFrame(x.json())

200

In [30]:
df1.index = df1.index.str.upper()

In [31]:
df1 = df1.rename({'eur': 'rates'}, axis=1)  # new method

In [32]:
df1.head()

           date       rates
AED  2021-06-15    4.451824
AFN  2021-06-15   95.261180
ALL  2021-06-15  122.863895
AMD  2021-06-15  626.578597
ANG  2021-06-15    2.175994

In [33]:
df2.head()[['date', 'rates']]

           date   rates
AUD  2021-06-15  1.5742
BGN  2021-06-15  1.9558
BRL  2021-06-15  6.1394
CAD  2021-06-15  1.4758
CHF  2021-06-15  1.0899

In [35]:
df_all = df1.join(df2[['date', 'rates']], lsuffix='_left', rsuffix='_right')

In [37]:
df_all.to_csv('df_combined.csv')

In [42]:
result = pd.concat([df1, df2], axis=1, join="inner")

In [43]:
result.columns

Index(['date', 'rates', 'amount', 'base', 'date', 'rates'], dtype='object')

In [44]:
result

           date         rates  amount base        date       rates
AUD  2021-06-15      1.571749     1.0  EUR  2021-06-15      1.5742
BGN  2021-06-15      1.955277     1.0  EUR  2021-06-15      1.9558
BRL  2021-06-15      6.133075     1.0  EUR  2021-06-15      6.1394
CAD  2021-06-15      1.471519     1.0  EUR  2021-06-15      1.4758
CHF  2021-06-15      1.090231     1.0  EUR  2021-06-15      1.0899
CNY  2021-06-15      7.755060     1.0  EUR  2021-06-15      7.7502
CZK  2021-06-15     25.430008     1.0  EUR  2021-06-15     25.4500
DKK  2021-06-15      7.436917     1.0  EUR  2021-06-15      7.4362
GBP  2021-06-15      0.858987     1.0  EUR  2021-06-15      0.8615
HKD  2021-06-15      9.406987     1.0  EUR  2021-06-15      9.3991
HRK  2021-06-15      7.492425     1.0  EUR  2021-06-15      7.4883
HUF  2021-06-15    350.084838     1.0  EUR  2021-06-15    352.0800
IDR  2021-06-15  17251.181675     1.0  EUR  2021-06-15  17254.0000
ILS  2021-06-15      3.933911     1.0  EUR  2021-06-15      3.9273
INR  2021-06-15     88.693552     1.0  EUR  2021-06-15     88.8000
ISK  2021-06-15    147.230639     1.0  EUR  2021-06-15    147.2000
JPY  2021-06-15    133.409284     1.0  EUR  2021-06-15    133.2800
KRW  2021-06-15   1354.963035     1.0  EUR  2021-06-15   1354.1000
MXN  2021-06-15     24.175191     1.0  EUR  2021-06-15     24.1980
MYR  2021-06-15      4.985456     1.0  EUR  2021-06-15      4.9849
NOK  2021-06-15     10.076191     1.0  EUR  2021-06-15     10.0823
NZD  2021-06-15      1.696249     1.0  EUR  2021-06-15      1.6987
PHP  2021-06-15     58.017816     1.0  EUR  2021-06-15     58.2030
PLN  2021-06-15      4.519028     1.0  EUR  2021-06-15      4.5235
RON  2021-06-15      4.923161     1.0  EUR  2021-06-15      4.9243
RUB  2021-06-15     87.336929     1.0  EUR  2021-06-15     87.2400
SEK  2021-06-15     10.090450     1.0  EUR  2021-06-15     10.0858
SGD  2021-06-15      1.608157     1.0  EUR  2021-06-15      1.6063
THB  2021-06-15     37.716640     1.0  EUR  2021-06-15     37.7160
TRY  2021-06-15     10.262514     1.0  EUR  2021-06-15     10.3586
USD  2021-06-15      1.211974     1.0  EUR  2021-06-15      1.2108
ZAR  2021-06-15     16.705248     1.0  EUR  2021-06-15     16.6800